/* Minor tweak */
.bd-main {
  width: 100%;
}

/* Remove secondary menu in mobile version */
.secondary-toggle {
  display: none !important;
}

/* Fix for dark mode */
body {
  background-color: var(--pst-color-background) !important; 
}

/* Needed for custom next-prev section thing */
section section:not(:nth-child(3)) {
  display: none;
}

.prev-next-footer {
  display: none;
}
